@import "tailwindcss";

@import "./tokens.css";
@import "./themes.css";
@import "./utilities.css";
@import "./animations.css";
@import "./scrollbar.css";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: var(--font-sans);

  background: var(--background);

  color: var(--foreground);

  transition:
    background-color .2s ease,
    color .2s ease;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}